<li>
  <%= gravatar_for user %>
  <%= link_to user.username, user %>
  <% if current_user.admin? && (current_user != user) %>
    | <%= link_to "delete", admin_user_path(user), method: :delete, :confirm => "Delete \"#{user.username}\"?" %>
    <% if !user.approved? %>
    	| <%= link_to "approve", admin_user_path(user, :user => {:approved => true}), :method => :put %>
    <% else %>
    	| <%= link_to "revoke access", admin_user_path(user, :user => {:approved => false}), :method => :put %>
    <% end %>
  <% end %>
</li>